.row{
    margin-top: 20px;
    margin-left: 20px;
    display:flex;
    width: 100%;
  }

  .rowHolder{
    margin-left: 20px;
    width: 100%;
  }

  .Desc{
    border-bottom: 1px solid black;
    
}

.column4{
    width: 50%;
    background-color: #eee7e7;
    padding: 5px;
    padding-right: 80px;
    overflow: scroll;
    height: 250px;
    padding-right: 150px;
}

  
  
  
  